.breadcrumb {
  /* position: fixed;
    top: 0;
    left: 300px; */
  position: absolute;
  left: 20px;
  cursor: context-menu;
  display: flex;
  align-items: center;
  max-width: 50%;
  white-space: nowrap;
  overflow: auto;
}

.breadcrumb .breadcrumb-interval {
  margin: 0 10px;
}

/* 原始导航栏调整开始 */
.app-nav {
  position: fixed;
  margin: 0;
  height: 60px;
  background: #fff;
  width: calc(100% - 300px);
  /* border-bottom: 1px solid; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0;
  box-shadow: 0 2px 8px #f0f1f2;
}

.app-nav > ul {
  display: flex;
  align-items: center;
}

.app-nav.no-badge {
  margin: 0;
}

@media screen and (max-width: 768px) {
  /* 改变原来按钮热区大小 */
  /* .sidebar-toggle {
      padding: 0 0 10px 10px;
    } */
  /* my pin */
  .app-nav {
    width: 100%;
    height: 40px;
  }

  .breadcrumb {
    max-width: 150px;
  }

  .sidebar-pin {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .breadcrumb {
    display: none;
  }
}

/* 原始导航栏调整结束 */
