/* 滚动条样式 */

::-webkit-scrollbar {
    width: 8px;
    height: 0px;
  }

  ::-webkit-scrollbar-track {
    background: #eee;
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb {
    background: rgb(219, 219, 219);
    border-radius: 8px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: rgb(219, 219, 219);
  }
