.sidebar ul li > a,
.sidebar ul li > p {
  transition: color 0.3s;
}

.sidebar ul .active > a {
  background-color: rgba(66, 185, 131, 0.1);
}

a {
  text-decoration: none !important;
}

.sidebar li.active > a,
.sidebar li.active > p {
  position: relative;
}

.sidebar li.active > a,
.sidebar li.active > p {
  position: relative;
}

.sidebar ul {
  margin: 0;
}

.sidebar-nav ul {
  overflow: hidden;
  transition: 0.3s;
  height: auto;
}

.sidebar-nav .hasChild.collapse-menu-hide {
  &::before {
    transform: rotateZ(-45deg);
  }

  &::after {
    transform: rotateZ(45deg);
  }

  & + ul {
    height: 0 !important;
  }
}

.sidebar-nav .hasChild {
  cursor: pointer;
  position: relative;
}

.sidebar-nav .hasChild::before {
  content: "";
  display: block;
  position: absolute;
  right: 1em;
  top: 50%;
  transform: rotateZ(45deg);
  width: 7px;
  height: 2px;
  background: #000;
  transition: 0.3s;
}

.sidebar-nav .hasChild::after {
  content: "";
  display: block;
  position: absolute;
  right: calc(1em + 4.5px);
  top: 50%;
  transform: rotateZ(-45deg);
  width: 7px;
  height: 2px;
  background: #000;
  transition: 0.3s;
}
.sidebar-nav .hasChild:hover::before,
.sidebar-nav .hasChild:hover::after {
  background: var(--theme-color, #42b983);
}

.sidebar ul li > a:hover,
.sidebar ul li > p:hover {
  color: rgba(66, 185, 131, 1);
}

.sidebar-nav .level-1 > p,
.sidebar-nav .level-1 > a {
  padding-left: 10px;
}

.sidebar-nav .level-2 > p,
.sidebar-nav .level-2 > a {
  padding-left: 20px;
}

.sidebar-nav .level-3 > p,
.sidebar-nav .level-3 > a {
  padding-left: 30px;
}

.sidebar-nav .level-4 > p,
.sidebar-nav .level-4 > a {
  padding-left: 40px;
}

.sidebar-nav .level-5 > p,
.sidebar-nav .level-5 > a {
  padding-left: 50px;
}

.sidebar ul p.active > a {
  border-right: 2px solid;
  color: var(--theme-color, #42b983);
  font-weight: 600;
}

.sidebar-title {
  text-align: center;
  color: #a1a5a9;
  font-weight: 700;
  cursor: context-menu;
  user-select: none;
}
